<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    
    <%= stylesheet_link_tag "base-min" %>
    <%= stylesheet_link_tag "pure-min" %>
    <%= stylesheet_link_tag "grids-responsive-min" %>
    <%= stylesheet_link_tag "stylesheet" %>
    <%= stylesheet_link_tag "modal" %>
    <%= stylesheet_link_tag "modal2" %>
    <%= stylesheet_link_tag "levels" %>
    <%= stylesheet_link_tag "header" %>
    <%= stylesheet_link_tag "custom" %>
    <%= stylesheet_link_tag "skills" %>
    <%= stylesheet_link_tag "abacus" %>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Poiret+One|Pontano+Sans|Rajdhani|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots|Raleway:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Bree+Serif|Caveat+Brush|Courgette|Dekko|Holtwood+One+SC|IM+Fell+English+SC|Just+Another+Hand|Marck+Script|Pangolin|Patrick+Hand|Rozha+One|Suez+One|Ultra|Walter+Turncoat" rel="stylesheet">
    
  </head>
  <body>
    <div class="entire-content">
    <%= partial 'partials/header' %>
    <%= yield %>
    </div>
    <div>
    <%= partial 'partials/footer' %>
    </div>

    <%= javascript_include_tag "site" %>
  </body>
</html>
