<header>

  <nav class="menu" role="navigation">    
      <ul class="menu-margin" >
        <li >
          <!-- <a href="/" class="link" tabindex="2">home</a> -->
          <%= link_to 'home', '/progressive-abacus', :relative => true, :class => 'link'%>
        </li>
        <li >
          <%= link_to 'questions', '/questions', :relative => true, :class => 'link'%>
        </li>
        <li >
          <%= link_to 'skills', '/dir/skills.html', :relative => true, :class => 'link' %>
        </li>
        <li  id="levels">
          <%= link_to 'course', '/dir/beginner.html', :relative => true, :class => 'link' %>   
          <ul>
            <li>
              <%= link_to 'beginner', '/dir/beginner.html', :relative => true, :class => 'link' %>  
            </li>
            <li>
              <%= link_to 'intermediate', '/dir/intermediate.html', :relative => true, :class => 'link' %>
            </li>
            <li>
              <%= link_to 'advanced', '/dir/advanced.html', :relative => true, :class => 'link' %>
            </li>
          </ul>

        </li>
        <li >
          <%= link_to 'custom', '/dir/custom.html', :relative => true, :class => 'link' %>
        </li>
        <li>
          <button class="click-hamburger" type="button" role="button" aria-label="main menu" tabindex="1"><div class="hamburger" ></div></button>
        </li>
      </ul>
  </nav>

  
  <div class="title">
      <a href="/" title="progressive abacus homepage">
      <div>
          <%= image_tag 'abacus_logo.svg' %>
        <div>
          <h1><span>Progressive</span><br>Abacus</h1> 
        </div>
      </div>
      </a>
  </div>
</header>