<content class=" pure-g worksheets">
	<div class="pure-u-1">
		<h2>Beginner Questions</h2>		
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
	</div>
</content>
<content class="pure-g worksheets">
	<div class="pure-u level-button">
		<!-- <div class="pure-u-1-2">
			<h4>Level 1</h4>
			<p>Single digits (up to 4)</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 2</h4>
			<p>Single digit (up to 4) using 5 numbers</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 3</h4>
			<p>Single digit (up to 9)</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 4</h4>
			<p>Single digit (up to 9) using 5 numbers</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 5</h4>
			<p>Add double digits (up to 9)</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 6</h4>
			<p>Add double digit (up to 9) using 5 numbers</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 7</h4>
			<p>double digits (up to 9)</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 8</h4>
			<p>double digits (up to 9) using 5 numbers</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>
		<!-- <div class="pure-u-1-2">
			<h4>Level 9</h4>
			<p>triple digits (up to 9)</p>
		</div> -->
		<div>
			<%= partial 'partials/modal' %>
		</div>

	</div>
</content>