<div class="custom-banner">	
</div>

<content class="levels">
	

<!-- Beginner Section-->
	<div id="beginner" class="box">
		<section>
		 	<h1>Beginner Worksheets</h1>		
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
			<a href="#intermediate" id="click-intermediate"><h4>Intermediate</h4></a>
		 </section>
		 	<section>
		<div class="levels-button">
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 1</h4>
					<p>single digit numbers<br>(up to 4)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 2</h4>
					<p>5 single digit numbers<br>(up to 4)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 3</h4>
					<p>single digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 4</h4>
					<p>5 single digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 5</h4>
					<p>add double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 6</h4>
					<p>add 5 double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 7</h4>
					<p>double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 8</h4>
					<p>5 double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 9</h4>
					<p>triple digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
		</div>
	</section>
	</div>


<!-- Intermediate Section-->
	<div id="intermediate" class="box">
		<section>
		 	<h1>Intermediate Worksheets</h1>		
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
			<a href="#beginner" id="click-beginner"><h4>Beginner</h4></a>
			<a href="#advanced" id="click-advanced"><h4>Advanced</h4></a>
		 </section>
		 	<section class="pure-g">
		<div class="pure-u levels-button">
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 1</h4>
					<p>single digit numbers<br>(up to 4)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 2</h4>
					<p>5 single digit numbers<br>(up to 4)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 3</h4>
					<p>single digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 4</h4>
					<p>5 single digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 5</h4>
					<p>add double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 6</h4>
					<p>add 5 double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 7</h4>
					<p>double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 8</h4>
					<p>5 double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 9</h4>
					<p>triple digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
		</div>
	</section>
	</div>


<!-- Advanced Section -->
	<div id="advanced" class="box">
		<section>
		 	<h1>Advanced Worksheets</h1>		
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
			<a href="#intermediate" id="click-intermeidate"><h4>Intermediate</h4></a>
		 </section>
		 	<section class="pure-g">
		<div class="pure-u levels-button">
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 1</h4>
					<p>single digit numbers<br>(up to 4)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 2</h4>
					<p>5 single digit numbers<br>(up to 4)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 3</h4>
					<p>single digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 4</h4>
					<p>5 single digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 5</h4>
					<p>add double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 6</h4>
					<p>add 5 double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 7</h4>
					<p>double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 8</h4>
					<p>5 double digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 9</h4>
					<p>triple digit numbers<br>(up to 9)</p>
				</button>
				<%= partial 'partials/modal' %>
			</div>
		</div>
	</section>
	</div>


	<!-- <section class="worksheets-intro">
		<div>
			<h1>Advanced Worksheets</h1>		
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
		</div>
	</section>
	<section class="wrapper">
		<a href="#beginner">Beginner</a>
	  <a href="#intermediate">Intermediate</a>
	  <a href="#advanced">Advanced</a>


		<div class="slider">
			<div class="box" id="beginner">
				<h2>Beginner</h2>
				<a href="#intermediate"><h3>Intermediate</h3></a>
			</div>
			<div class="box" id="intermediate">
				<h2>Intermediate</h2>
				<a href="#beginner"><h3>Beginner</h3></a>
				<a href="#advanced"><h3>Advanced</h3></a>
			</div>
			<div class="box" id="advanced">
				<h2>Advanced</h2>
				<a href="#intermediate"><h3>Intermediate</h3></a>
			</div>
		</div>
	</section> -->








	<!-- <section>
		<div class="levels-button">
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 1</h4>
					<p>single digit numbers<br>(up to 4)</p>
				</button>
				
			</div>

			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 2</h4>
					<p>5 single digit numbers<br>(up to 4)</p>
				</button>
				
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 3</h4>
					<p>single digit numbers<br>(up to 9)</p>
				</button>
				
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 4</h4>
					<p>5 single digit numbers<br>(up to 9)</p>
				</button>
				
			</div>

			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 5</h4>
					<p>add double digit numbers<br>(up to 9)</p>
				</button>
				
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 6</h4>
					<p>add 5 double digit numbers<br>(up to 9)</p>
				</button>
				
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 7</h4>
					<p>double digit numbers<br>(up to 9)</p>
				</button>
			
			</div>
			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 8</h4>
					<p>5 double digit numbers<br>(up to 9)</p>
				</button>
				
			</div>

			<div>
				<button onclick="document.getElementById('id01').style.display='block'" class="pure-button modal-button">
					<h4>Level 9</h4>
					<p>triple digit numbers<br>(up to 9)</p>
				</button>
			
			</div>
		</div>
	</section> -->
</content>